@tailwind base;
@layer base {
    * {
        @apply text-white;
    }
}
@tailwind components;
@tailwind utilities;
@layer components {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}